body {
  font-family: 'FreeMono', monospace;
  background-color: #2e3537;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 12px 0;
  background: linear-gradient(135deg, #a2ded0, #b8e994);
  overflow-wrap: break-word;
  padding-right: 5%;

}

.book, .storybook {
  width: 850px;
  height: 600px;
  position: relative;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition-duration: 1s;
  perspective: 1500px;
}

input {
  display: none;
}

.cover, .back-cover {
  background-color: #4173a5;
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 5px rgb(41, 41, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center left;
}

.cover {
  position: absolute;
  z-index: 4;
  transition: transform 1s;
}

.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.back-cover {
  position: relative;
  z-index: -1;
}

.page {
  position: absolute;
  background-color: white;
  width: 850px;
  height: 600px;
  border-radius: 0 15px 15px 0;
  margin-top: 10px;
  padding-right: 5px;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1.5s, opacity 0.5s ease;
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.page img {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.page.active {
  opacity: 1;
}

.front-page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

.back-page {
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 99;
}

.next, .prev {
  position: absolute;
  bottom: 1em;
  cursor: pointer;
}

.next {
  right: 1em;
}

.prev {
  left: 1em;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 43%;
}

p {
  padding-right: 10px;
  overflow-wrap: break-word;
  font-size: 20px;
  margin-left: 33%;
  margin-right: 5%;
  margin-bottom: 40px;
  word-wrap: break-word;
  

}

.next-btn {
  position: absolute;
  bottom: 100px;
  right: 10%;
  padding: 10px 20px;
  background-color: #610018;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.next-btn:hover {
  background-color: #4b45a0;
}
.back-btn {
  position: absolute;
  bottom: 100px;
  left: 10%;
  padding: 10px 20px;
  background-color: #1b3b06;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: #4b45a0;
}

#page1 {
  background-image: url('');
  z-index: 11;
}

#page2 {
  background-image: url('intro.png');
  z-index: 10;
}

#page3 {
  background-image: url('ceramicstore.png');
  z-index: 9;
}
#page4 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 8;
}
#page5 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 7;
}
#page6 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 6;
}
#page7 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 5;
}
#page8 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 4;
}
#page9 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 3;
}
#page10 {
  background-image: url('https://example.com/adventure.jpg');
  z-index: 2;
}

#checkbox-cover:checked ~ .book {
  transform: translateX(200px);
}

#checkbox-cover:checked ~ .book .cover {
  transition: transform 1.5s, z-index 0.5s 0.5s;
  transform: rotateY(-180deg);
  z-index: 1;
}

#checkbox-cover:checked ~ .book .page {
  box-shadow: 0 0 3px rgb(99, 98, 98);
}

#checkbox-page1:checked ~ .book #page1 {
  transform: rotateY(-180deg);
  z-index: 2;
}

#checkbox-page2:checked ~ .book #page2 {
  transform: rotateY(-180deg);
  z-index: 3;
}
#checkbox-page3:checked ~ .book #page3 {
  transform: rotateY(-180deg);
  z-index: 4;
}


.page.hidden {
  transform: rotateY(-180deg);
  opacity: 0;
}

.page.active {
  transform: rotateY(0);
  opacity: 1;
}

.page.leaving {
  transform: rotateY(180deg);
  opacity: 0;
}
